<%= form_with(model: @question, url: [@contest, @question], local: true) do |form| %>
    <% if can? :create, @contest%>
    <p>
      <%= form.label :quest %><br>
      <%= form.text_area :quest %>
    </p>
    <% end %>
    <p>
      <%= form.submit "update soal" %>
    </p>
<% end %>

<%= form_with(model: [ @question, @question.keys.build ], local: true) do |form| %>
  <p>
    <%= form.label :key %><br>
    <%= form.text_area :key %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

  <%= link_to 'back', contest_path(@contest),
              method: :get,
              data: { confirm: 'Are you sure?' } %>