<h1>Listing Contests</h1>

<% if can? :create, @contest%>
  <%= link_to 'New Contest', new_contest_path %>
<% end %>
 

<table>
  <tr>
    <th>Judul Kontes</th>
    <th>Deskripsi dan Aturan</th>
    <th>Status</th>
    <th></th>
  </tr>
 
  <% @contest.each do |contest| %>
    <tr>
      <td><%= contest.title %></td>
      <td><%= contest.text %></td>
      <td><%= contest.status %></td>
      <td><%= link_to 'Show', contest_path(contest) %></td>
      <% if can? :create, @contest%>
        <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
        <td><%= link_to 'Destroy', contest_path(contest),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Logout', user_logout_path(current_user), method: :delete %>